<main>
    <div class="container-fluid text-center my-5">
        <div class="card shadow p-5 mb-3">
            <h1 class="my-5">BENVENUTI</h1>
            <h2 class="mb-5">ARRECREATE</h2>
        </div>
        <div class="card">
             <img src="~/Content/img/1.jpg"/>
        </div>
        <div class="card shadow p-5">
            <h3>Chi Siamo</h3>
            <p class="p-5">
                La pizza, fiore all'occhiello della cucina italiana, rappresenta un'icona gastronomica conosciuta e amata in tutto il mondo. La sua storia affonda le radici nell'antica Napoli, dove nasce come piatto popolare e diventa presto simbolo della tradizione culinaria italiana.
            </p>
            <p class="p-5">Oltre al suo sapore irresistibile e alla sua semplicità, la pizza incarna un vero e proprio rituale conviviale. È un'esperienza condivisa tra amici e familiari, un momento di gioia e di condivisione che va ben oltre il piacere del gusto. È un'occasione per celebrare le piccole e grandi occasioni della vita, per rilassarsi e divertirsi insieme.</p>
            <p class="p-5">Che sia una pizza margherita classica o una creazione gourmet con ingredienti ricercati, ogni fetta di pizza racconta una storia fatta di passione, dedizione e maestria artigianale. È l'incontro armonioso tra la croccantezza della base, la dolcezza del pomodoro, la cremosità della mozzarella e la fragranza degli ingredienti.</p>
            <p class="p-5">Per noi, la pizza non è solo un piatto da gustare, ma un'esperienza culinaria e sociale che crea legami e ricordi indelebili. Presso la nostra pizzeria, vogliamo offrire non solo una prelibatezza per il palato, ma un'esperienza autentica che celebra la tradizione italiana e la convivialità. Siamo orgogliosi di portare avanti l'eredità della pizza e di condividere con voi il nostro amore per questo capolavoro gastronomico. Benvenuti nella nostra casa, dove ogni pizza è un'opera d'arte e ogni momento è un'occasione di festa!</p>
        </div>
    </div>
</main>