.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.no-body-content {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.container.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza pari all'intera altezza della finestra del browser */
}

body {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
    /*background:linear-gradient(-120deg, #ee3124, #00a160, #ffc425) no-repeat;*/
    /*background-size: cover;*/
    /*background-color: #ECECEC;*/
    background-image: url("img/PizzaPatt.jpg");*/
    /*background-color: #BE9460;*/
   /* background: rgb(84,116,61);
    background: radial-gradient(circle, rgba(84,116,61,1) 33%, rgba(190,148,96,1) 76%, rgba(228,32,19,1) 100%);*/
  /*  background: rgb(17,118,14);
    background: linear-gradient(90deg, rgba(17,118,14,1) 0%, rgba(254,254,254,0.9962578781512605) 50%, rgba(182,5,8,1) 100%);*/
}

.nvb-color {
    /*background-color: #303337;*/
    background-color: #53936B;
}

.box-color {
    /* background-color: #D5B483;*/
    /*    background-image: url("img/Home/1.jpg");
    background-size: contain;*/
    /*    background-color: #A3BF9F;*/
    /*background-color: #363136;*/
    background-color: rgba(54, 49, 54, 0.8);
    color: whitesmoke;
}

.pizzagnam {
    background-image: url("img/PizzaGnam.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/*.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}*/
